@media screen and (max-width: 576px) {

    /* header section start  */
    nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav li {
        margin: 0;
    }
    nav li a {
        font-size: 12px;
    }
    .banner-container {
        flex-direction:column-reverse;
        max-width: 300px;
        margin: 0 auto;
    }
    .banner-content {
        text-align: center;
        padding: 0;
    }
    .banner-content .banner-description {
        /* border: 1px solid red; */
        font-size: 11px;
        text-align: center;
        margin: 15px auto;
        /* margin: 15px 0; */
        /* max-width: 70%; */
    }
    .banner-content .btn {
        font-size: 14px;
        border-radius: 15px;
        padding: 15px 35px;
    }
    .banner-img {
        width: 70%;
        margin-bottom: 20px;
    }
    /* header section end  */

    /* sponsor section start  */
    .sponsor-container {
        max-width: 300px;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 10px;
        margin: 20px auto;
        padding: 20px 5px;
    }

    .sponsor-container img {
        width: 22%;
    }
    /* sponsor section end */
}