* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Inter', sans-serif; --- card paragraph
font-family: 'Manrope', sans-serif; --- footer
 */

/* <!-- header section start --> */

header {
    /* border: 1px solid red; */
    padding: 30px 0;
}
/* nav section start  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    /* border: 1px solid blue; */
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin: auto 0;
    
    margin-left: 25px;
}
nav li a {
    text-decoration: none;
    font-size: 8px;
    font-weight: 600;
    color: #3A3A3A;
}

.nav-title {
    /* border: 1px solid blue; */
    font-size: 10px;
    color: #3A3A3A;
}

/* nav section end */

/* banner section start */

.banner-container {
    
    /* border: 1px solid red; */
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    
    align-items: center;
}

.banner-content {
    padding-right: 10px;
}

.banner-content .banner-title {
    font-size: 30px;
    color: #3A3A3A;
}

.banner-content .banner-description {
    font-size: 9px;
    font-weight: 500;
    margin: 15px 0;
    max-width: 70%;
}

.banner-content .btn {
    background: #E02C6D;
    color: white;
    font-size: 8px;
    border: 0;
    border-radius: 15px;
    padding: 10px 25px;
}

.banner-content .fa-solid {
    margin-left: 5px;
}

.banner-img {
    /* border: 1px solid blue; */
    width: 45%;
    background: url("../images/Circle design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* banner section end */


/* <!-- header section end --> */



/* <!-- main section start --> */

/* sponsor section start  */

.sponsor-container {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(238, 227, 227);
    border-bottom: 1px solid rgb(238, 227, 227);
    padding: 20px 20px;
}

.sponsor-container img {
    width: 7%;
}


/* sponsor section end */

/* <!-- Popular Collection section start  --> */

.popular-container {
    max-width: 600px;
    margin: 0 auto;
}

.popular-title {
    color: #3A3A3A;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.popular-collection-container {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 14px;
}


.card {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.card-image  img {
    width: 100%;
}

.card-description .card-title {
    color: #18191F;
    font-size: 15px;
    font-weight: 600;
}

.card-description .card-money {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    margin: 5px 0;
}

.card-description .fa-solid {
    color: #FB8200;
    font-size: 7px;
}

.card-description span {
    margin-left: 10px;
    font-size: 7px;
    font-weight: 600;
    color: #3A3A3A;
}

.card-description .card-paragraph {
    width: 40%;
    font-size: 7px;
    color: #787885;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 10px;
}

.see-more {
    text-align: end;
    margin: 10px 0;
    padding-right: 14px;
}

.popular-span, .popular-span .fa-solid .fa-arrow-right {
    font-size: 10px;
    color: #E02C6D;
    font-weight: 600;
}


/* <!-- Popular Collection section end --> */

/* <!-- feature product section start --> */

.feature-product-container {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-product-container .img-container {
    width: 60%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.feature-product-container .feature-content {
    padding-left: 25px;
}

.feature-content h2 {
    color: #0A0826;
    font-size: 20px;
    font-weight: 700;
}

.feature-content p {
    width: 65%;
    color: #6C6C6C;
    font-size: 8px;
    margin: 10px 0;
}

.feature-content button {
    background-color: #E02C6D;
    color: white;
    font-size: 10px;
    border: 0;
    padding: 6px 12px;
}

/* <!-- feature product section end --> */


/* <!-- main section end --> */




/* <!-- footer section start --> */
/* <!-- footer section end --> */